{% load static %}


<div class="div_footer">
    <footer>
        <div class="div1footer">
            <div class="div2footer">
                
                <div class="div3footer">
                    <h3 class="marca_footer">renew</h3>
                    <p class="menu_footer">
                        Plataforma de compra y venta de ropa de segunda mano. Damos una segunda vida a la ropa y cuidamos el planeta.
                    </p>
                </div>

                <div class="div3footer">
                    <h3 class="titulos_footer">Enlaces</h3>
                    <ul class="menu_footer">
                        <li><a href="{% url 'index' %}" class="li">Inicio</a></li>
                        <li><a href="{% url 'productos' %}" class="li">Comprar</a></li>
                        <li><a href="{% url 'vender' %}" class="li">Vender</a></li>
                    </ul>
                </div>

                <div class="div3footer">
                    <h3 class="titulos_footer">Ayuda</h3>
                    <ul class="menu_footer">
                        <li><a href="#" class="li">Cómo funciona</a></li>
                        <li><a target="_blank" href="https://wa.me/936323954" class="li">Contacto</a></li>
                        <li><a href="#" class="li">Términos y condiciones</a></li>
                    </ul>
                </div>

            </div>
        </div> 
    </footer>
</div>
