{% extends 'core/base.html' %}
{% load static %}

{% block title %}Renew - Productos{% endblock %}

{# Solo dejamos los CSS necesarios para mantener header y footer visibles #}
{% block css_base %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/productos.css' %}">
{% endblock %}

{% block content %}
<section class="section1">
    <div class="filtros">
        <div class="categorias">
            <label for="filtro-categoria">Categoría</label>
            <div class="grupo_filtros">
                <select name="categoria" id="filtro-categoria">
                    <option value="">Todos</option>
                    <option value="Ropa">Ropa</option>
                    <option value="Accesorios">Accesorios</option>
                    <option value="Calzados">Calzados</option>
                    <option value="Otros">Otros</option>                                
                </select>
            </div>
        </div>
        <div class="categorias">
            <label for="filtro-genero">Género</label>
            <div class="grupo_filtros">
                <select name="genero" id="filtro-genero">
                    <option value="">Todos</option>
                    <option value="Hombre">Hombre</option>
                    <option value="Mujer">Mujer</option>
                    <option value="Unisex">Unisex</option>
                </select>
            </div>
        </div>

        <button class="aplicar_filtros">
            Filtrar
        </button>
    </div>

    <div class="productos">
        <div class="lista_productos">
            <!-- Productos dinámicos con JS -->
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/productos.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
